@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

* {
    --beige: rgb(239, 225, 209);
    --dark-peach: rgb(167, 130, 149);
    --dark-purple: rgb(63, 46, 62);
    --black-purple: rgb(51, 29, 44);
    font-family: 'Inter Tight', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

body {
    background-color: var(--black-purple);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    text-align: center;
    background-color: var(--dark-peach);
    padding: 2rem;
}

header h1 {
    margin: 0;
    letter-spacing: 1px;
    color: var(--beige);
}

footer {
    margin-top: auto;
}

footer h4 {
    margin: 0;
}

footer h4 a {
    text-decoration: none;
}

footer h4 img {
    width: 2rem;
    margin-bottom: -8px;
}

.gameboard-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameboard-container button {
    margin-top: 20px;
    align-self: flex-end;
}

.gameboard {
    border: 2px solid var(--dark-peach);
    position: relative;
}

.gameboard.game-over::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.row-game {
    display: flex;
    justify-content: center;
}

.cell-game {
    width: 150px;
    height: 150px;
    border: 2px solid var(--dark-peach);
    background-color: var(--beige);
}

.game-message {
    text-align: center;
    color: var(--beige);
    font-size: 1.3rem;
    letter-spacing: 1px;
    max-width: 454px;
}

p.game-over {
    position: relative;
    top: 220px;
    z-index: 1;
}

.gameboard > button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog[open] {
    border-radius: 20px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--dark-purple);
    color: var(--beige);
    text-align: center;
}

dialog h1 {
    letter-spacing: 1px;
}

.about h2 {
    text-decoration: underline;
}

dialog:nth-child(2)[open] {
    height: 25vh;
}

.dialog-header img {
    position: relative;
    width: 2.5rem;
    top: 12px;
    right: 2px;
}

button {
    border: 2px solid var(--beige);
    border-radius: 8px;
    padding: 0.5rem 2rem;
    color: var(--black-purple);
    background-color: var(--dark-peach);
}

button:hover {
    background-color: rgb(216, 164, 191);
}

button:active {
    background-color: var(--dark-peach);
}

.player-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

input {
    border: 2px solid var(--dark-peach);
    border-radius: 8px;
    background-color: var(--beige);
    color: var(--black-purple);
    padding: 0.2rem 0.4rem;
    width: 50%;
    margin-left: 5px;
    outline: none;
}

input:invalid {
    border-color: rgb(168, 32, 32);
}

input:focus {
    border-color: var(--dark-peach);
}

input:valid {
    border-color: green;
}
