* {
    --beige: rgb(239, 225, 209);
    --dark-peach: rgb(167, 130, 149);
    --dark-purple: rgb(63, 46, 62);
    --black-purple: rgb(51, 29, 44);
}

body {
    background-color: var(--black-purple);
}

header {
    text-align: center;
    background-color: var(--dark-peach);
    padding: 2rem;
}

header h1 {
    margin: 0;
    color: var(--beige);
}

.gameboard-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameboard {
    border: 2px solid var(--dark-peach);
    position: relative;
}

.row-game {
    display: flex;
    justify-content: center;
}

.cell-game {
    width: 150px;
    height: 150px;
    border: 2px solid var(--dark-peach);
    background-color: var(--beige);
}

.game-message {
    text-align: center;
    color: var(--beige);
}

.gameboard > button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog[open] {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--dark-purple);
    color: var(--beige);
}

dialog:nth-child(1)[open] {
    width: 500px;
}

.about {
    text-align: center;
}

.about h2 {
    text-decoration: underline;
}

dialog:nth-child(2)[open] {
    height: 25vh;
    width: 25vw;
}

button {
    border: 2px solid var(--beige);
    border-radius: 8px;
    padding: 0.5rem 2rem;
    color: var(--black-purple);
    background-color: var(--dark-peach);
}

button:hover {
    background-color: rgb(216, 164, 191);
}

button:active {
    background-color: var(--dark-peach);
}

.dialog-header img {
    position: relative;
    width: 2.5rem;
    top: 12px;
    right: 2px;
}